<div class="ui brown three item inverted menu" style="margin-bottom: 0;">
	<a class="item" href="mailto:contactemail@gmail.com">
		<h5 class="ui text bold">
			<i class="envelope icon"></i>
			contactemail@gmail.com
		</h5>
	</a>
	<div class="horizontally fitted item">
		<a class="ui red basic label large">Minumum order Rs.2000/-</a>
	</div>
	<div class="right menu"></div>
</div>

<div>
	<div class="ui basic segment">
		<div class="ui grid">
			<div class="five wide column">
				<img src="assets/images/cornation-logo.jpg" style="height: 100px; margin-left: 30px;"/>
			</div>
			<div class="six wide center aligned column" style="margin-top: 30px;">
				<h1>
					Welcome to Cracker House
				</h1>
			</div>

			<div class="four wide right aligned column" style="margin-top: 30px;">
				<h2>
					<i class="phone icon"></i>
					For bulk orders,
					<br>call us @ 8754735695
				</h2>

				<a href="assets/cracker-list.pdf" target="_blank">See our cracker list</a>
			</div>
		</div>
	</div>
</div>

<div class="ui inverted segment" style="margin:0;">
	<div class="ui container">
		<div class="ui stackable inverted menu secondary pointing">
			{{#link-to "home" class="item text uppercase"}}Home{{/link-to}}
			{{#link-to "cracker-list" class="item text uppercase"}}Cracker categories{{/link-to}}
			<a class="item">Contact us</a>
		</div>
	</div>
</div>

