.site-banner {
    width: 100%;
    height: calc(100vh);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 32px;
    background-color: #F5F5F5;
}

.site-banner .banner-message {
    margin-left: 80%;
    margin-top: 0;
}

.route-container {
    margin-top: 100px;
    height: 100%;
    min-height: 100%;
    margin-bottom: 20px;
}

.ui.top.menu .mobile-view-only {
    color: #fff;
}

.mobile-view-only {
    display: none;
}

.ui.top.menu {
    padding: 18px 0;
}

.ui.top.menu .ui.secondary.pointing.menu a.item:hover {
    color: #ec814d;
}

.ui.top.menu .ui.secondary.pointing.menu a.item.active {
    border-color: #ec814d !important;
    color: #ec814d !important;
}

.ui.top.menu .ui.secondary.pointing.menu .item.header {
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ec814d;
    text-transform: uppercase;
    padding: 8px 12px;
}

.ui.top.menu .ui.secondary.pointing.menu .item.header i {
    font-size: 28px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 767px) {
    .mobile-view-only {
        display: block;
    }

    .mobile-view-only .button {
        padding: 13px 12px !important;
        font-size: 24px;
    }
    .mobile-view-only .ui.basic.button:focus, .mobile-view-only .ui.basic.button.active, .mobile-view-only .ui.basic.button:hover {
        background-color: transparent !important;
        color: white !important;
    }
    .mobile-view-only .button i {
        color: white !important;
    }

    .ui.top.menu {
        height: 52px;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .ui.top.menu .stackable.menu {
        width: 300px;
        background-color: #000;
        color: #fff;
        display: block;
        position: fixed;
        left: -300px;
        transition: all .4s;
        visibility: hidden;
        bottom: 0;
        top: 0;
    }

    .ui.top.menu .stackable.menu.active {
        left: 0;
        visibility: visible;
    }
    .ui.top.menu .stackable.menu .item {
        padding: 20px 12px;
        border: none;
        border-bottom: 1px solid #999;
        text-transform: uppercase;
    }
    .ui.top.menu .stackable.menu .item.active {
        border-bottom: 1px solid #999999 !important;
    }
}