node_modules
/.zide_resources
WebContent
app.json
.recognizer
/bin
.cache
.cache-tests
.cache-main
/.proto_out
.settings
.idea
.buildpath
build/app.properties
build/dev/security-privatekey.xml
build/dev/sas.keystore