{{nav-bar}}
{{outlet}}

<div class="wrapper">
	<div class="ui inverted segment">
		<div class="ui container">
			<div class="ui inverted secondary menu">
				<div class="item">
					<h5 class="ui text bold">
						<i class="envelope icon"></i>
						crackerhousesivakasi@gmail.com
					</h5>
				</div>
			</div>
		</div>
	</div>
</div>
