{{nav-bar}}

<div class="ui container" style="margin-top: 23px;">
	{{outlet}}
</div>

<div class="wrapper" style="margin-top: 50px;">
	<div class="ui inverted segment">
		<div class="ui container">
			<div class="ui inverted secondary menu">
				<div class="item">
					<h5 class="ui text bold">
						<i class="envelope icon"></i>
						contactemail@gmail.com
					</h5>
				</div>
			</div>
		</div>
	</div>
</div>
