<div class="ui container route-container">
	<h2 class="ui header">Getting in touch is easy!</h2>
	<div class="ui grid">
		<div class="sixteen wide mobile eight wide tablet nine wide computer column">
			<iframe width="{{generalService.mapUiProps.width}}"
					height="{{generalService.mapUiProps.height}}"
					frameborder="0" style="border:0" allowfullscreen
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAdosZuQqrD3XCIWFzPwxSGC-P5baOw-sg&q=Sivakasi">
			</iframe>
		</div>

		<div class="sixteen wide mobile eight wide tablet four wide computer column">
			<h2>Contact details</h2>
			<div class="ui cards">
				<div class="card">
					<div class="content">
						<img class="right floated mini ui image" src="assets/images/ruban.jpeg">
						<div class="header">
							Anandha ruba chakkaravarthi
						</div>
						<div class="meta">
							+91 6383154783
						</div>
						<div class="description">
							tamil.anandh99@gmail.com
						</div>
					</div>
				</div>
				<div class="card">
					<div class="content">
						<img class="right floated mini ui image" src="assets/images/arundurai.jpg">
						<div class="header">
							Arundurai
						</div>
						<div class="meta">
							+91 9626883949
						</div>
						<div class="description">
							arundurai.b@gmail.com
						</div>
					</div>
				</div>
			</div>

			<div style="margin-top: 40px;">
				<a class="ui circular facebook icon button" target="_blank" href="https://www.facebook.com/pages/Coronation-Fireworks/372241559527609">
					<i class="facebook icon"></i>
				</a>
				<a class="ui circular linkedin icon button" target="_blank" href="https://www.linkedin.com/company/sri-cornation-fireworks-private-limited/">
					<i class="linkedin icon"></i>
				</a>
				<a class="ui circular google plus icon button" target="_blank" href="https://plus.google.com/110957537120703923015">
					<i class="google plus icon"></i>
				</a>
			</div>
		</div>
	</div>
</div>