<div class="ui form">
	<div class="ui field">
		<label class="ui header">Select Cracker category</label>
		{{#ui-dropdown class="ui fluid search selection dropdown"}}
			<i class="dropdown icon"></i>
			<div class="default text">Select Cracker category</div>
			<div class="menu">
				<div class="item">Atom bomb</div>
				<div class="item">Flower pots</div>
				<div class="item">Rocket</div>
				<div class="item">Chinese crackers</div>
				<div class="item">Deluxe crackers</div>
			</div>
		{{/ui-dropdown}}
	</div>
</div>

<div class="ui four column grid featured-crackers" style="margin-top: 30px;">
	<div class="column">
		<div class="ui fluid card">
			<div class="image">
				<img src="assets/images/5000-wala.jpg">
			</div>
			<div class="content">
				<a class="header">5000 wala lar</a>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="ui fluid card">
			<div class="image">
				<img src="assets/images/rang-de-basnti.jpg">
			</div>
			<div class="content">
				<a class="header">Rang de basanti</a>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="ui fluid card">
			<div class="image">
				<img src="assets/images/atom_bomb.jpg">
			</div>
			<div class="content">
				<a class="header">Atom bomb</a>
			</div>
		</div>
	</div>
</div>